<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:spaceless>
  <f:render partial="Header" section="Main" />
  <f:render section="Main"/>
  <f:render partial="Footer" section="Main" />
</f:spaceless>
      
<!-- Chatbot Integration -->
<!--
<script id="dfc-script" src="https://chat.vonuebermorgen.de/client/dfc-injector.js">
       window.dfcInjector({
    open: false,
        token: "a569aa308a7b47e390636582841a5aaa",
        title: "KemperBot",
        welcome: "Hallo, ich bin der neue Chatbot von KEMPEROL. Wenn Sie Informationen benötigen oder Fragen zu unseren Produkten haben, schreiben Sie mir einfach!<br/><br/>Viele Informationen finden Sie auch auf unseren Social Media-Kanälen. Besuchen Sie uns doch einfach!<br><a href='https://www.facebook.com/KemperSystem/' target='_blank'>Facebook</a><br/><a href='https://www.instagram.com/kempersystemgermany/'  target='_blank'>Instagram</a><br/><a href='https://www.youtube.com/user/KemperSystemGermany' target='_blank'>YouTube</a>",
        placeholder: " ",
        color: "rgb(6,82,159)",
        bottom: 20,
        right: 20,
        height: "750",
        width:"650"
    });
</script>
-->
            
</html>