<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container-fluid">
  <div class="background-content-module clearfix">
    <div class="background-content-holder clearfix has-bg has-bg-primary">
      <div class="row large-gap-column-wrap element element-gap-normal">
        <div class="col-md-12 my-col element element-gap-normal">
          <div class="entry clearfix">
            <h4>
                <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
            </h4>
            <p>
                <f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_reset_message'}"/>
            </p>
            <h5 class="no-bottom-margin"><f:render partial="RenderLabelOrMessage" arguments="{key: 'reset_password'}"/></h5>
            <br>
        </div>

        <div class="site-form-module clearfix element element-gap-normal">
            <f:render partial="ValidationErrors"/>

            <f:form action="recovery" method="post">
                <div class="site-form-row clearfix">
                    <div class="site-form-block full-block">
                        <label for="tx-felogin-input-data" class="site-form-label">
                            <f:translate key="enter_your_data"/>
                        </label>
                        <div class="site-form-field">
                            <f:form.textfield name="userIdentifier" id="tx-felogin-input-data" class="site-form-input" />
                        </div>
                    </div>
                </div>
                <div class="site-form-row clearfix site-submit-row">
                    <div class="site-form-block full-block">
                    <div class="site-form-field">
                        <f:form.submit value="{f:translate(key: 'reset_password')}" class="site-form-button page-button primary-color-button button-width-type-two" />
                    </div>
                    </div>
                </div>
            </f:form>
        </div>
        <div class="entry clearfix element element-gap-normal"><p>
            <f:link.action action="login" controller="Login">
                <f:translate key="forgot_header_backToLogin"/>
            </f:link.action>
        </p></div>
        </div>
        </div>
        </div>
    </div>
</div>

</html>
