<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-namespace-typo3-fluid="true">
<f:form.validationResults>
    <f:if condition="{validationResults.flattenedErrors}">
        <div>
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                <p>{propertyPath}
                    <f:for each="{errors}" as="error">
                        <span>{error.code}: {error}</span>
                    </f:for>
                </p>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>
</html>
