:root {
  --site-primary: #2a5190;
  --site-primary-light: #e9f3f8;
  --site-primary-light-2: #8fa5c5;
}

.new-modules-2024 .this-site-bg-primary-light {
  background-color: var(--site-primary-light);
}
.new-modules-2024 .this-module-header {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
.new-modules-2024 .this-module-header.no-border {
  padding-bottom: 0px;
  border: none;
}
.new-modules-2024 .this-pad-box-default {
  padding: 50px;
}
.new-modules-2024 .this-text-primary {
  color: var(--site-primary);
}
.new-modules-2024 .this-element-gap-small {
  margin-bottom: 25px;
}
.new-modules-2024 .this-element-gap-normal {
  margin-bottom: 55px;
}
.new-modules-2024 .this-element-gap-extreme-large {
  margin-bottom: 175px;
}

.default-custom-select-menu-step-form .ui-widget-content {
  background-color: white;
}
.default-custom-select-menu-step-form .ui-widget-content .ui-menu-item {
  padding: 0px;
}
.default-custom-select-menu-step-form .ui-widget-content .ui-menu-item .ui-menu-item-wrapper {
  padding: 10px 20px;
}

.step-form-module {
  color: var(--site-primary);
}
.step-form-module .site-form-module .site-form-row {
  margin-top: 10px;
}
.step-form-module .site-form-module .site-form-field {
  border: none;
}
.step-form-module .site-form-module .site-form-field.select-field .ui-selectmenu-text {
  font-family: "HelveticaNeue-bold";
}
.step-form-module .site-form-module .site-form-field.select-field .ui-widget-content {
  background-color: white;
}
.step-form-module .site-form-module .site-form-field.select-field .ui-selectmenu-button {
  background-color: white;
  padding: 12px 20px;
  border: 1px solid transparent;
}
.step-form-module .site-form-module .site-form-field.select-field::after {
  background-color: white;
}
.step-form-module .iconic-box-choice-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.step-form-module .iconic-box-choice-module .the-choice-box.not-selectable {
  pointer-events: none;
  border: 1px solid white;
}
.step-form-module .iconic-box-choice-module .the-choice-box.not-selectable > .main-wrap {
  background-color: transparent;
  opacity: 0.6;
}
.step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module {
  pointer-events: none;
}
.step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field .ui-selectmenu-text {
  opacity: 0.6;
}
.step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field:after {
  background-color: transparent;
  opacity: 0.6;
}
.step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field .ui-selectmenu-button {
  background-color: transparent;
  border-color: white;
}
.step-form-module .iconic-box-choice-module .multi-choice-box-holder .the-choice-box {
  margin-top: 10px;
}
.step-form-module .iconic-box-choice-module .multi-choice-box-holder .the-choice-box:first-child {
  margin-top: 0px;
}
.step-form-module .iconic-box-choice-module.view-2 {
  text-align: left;
}
.step-form-module .iconic-box-choice-module.view-2 .the-title {
  font-family: "HelveticaNeue-light";
}
.step-form-module .iconic-box-choice-module.view-2 .the-title strong {
  font-family: "HelveticaNeue-bold";
}
.step-form-module .iconic-box-choice-module.view-2 .choice-or-box {
  width: 20%;
  text-align: center;
  font-size: 24px;
  font-family: "HelveticaNeue-bold";
  line-height: 110px;
}
.step-form-module .iconic-box-choice-module.view-2 .choice-box-multi-item-holder {
  width: 38%;
}
.step-form-module .iconic-box-choice-module.view-2 .the-choice-box {
  height: 110px;
  width: 100%;
}
.step-form-module .iconic-box-choice-module.view-2 .the-choice-box > .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}
.step-form-module .iconic-box-choice-module.view-2.narrow-view .col-3 {
  width: 32%;
}
.step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box {
  height: 40px;
}
.step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap {
  padding: 0 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}
.step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap .the-icon {
  width: 45px;
}
.step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap .the-icon img {
  max-width: 35px;
  height: auto;
}
.step-form-module .iconic-box-choice-module .the-icon img {
  height: 80px;
  width: auto;
}
.step-form-module .iconic-box-choice-module .the-icon img.hovered {
  display: none;
}
.step-form-module .iconic-box-choice-module .the-title {
  font-size: 16px;
  font-family: "HelveticaNeue-bold";
}
.step-form-module .iconic-box-choice-module .the-choice-box {
  width: 18.4%;
  border-radius: 15px;
  height: 110px;
  position: relative;
  overflow: hidden;
}
.step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input {
  position: absolute;
  margin: 0px;
  padding: 0px;
  z-index: 1;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap {
  background-color: var(--site-primary);
  color: white;
}
.step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap .the-icon img.normal {
  display: none;
}
.step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap .the-icon img.hovered {
  display: inline-block;
}
.step-form-module .iconic-box-choice-module .the-choice-box > .main-wrap {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.step-form-module .form-step-action-module > .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step-form-module .form-step-ahead-module {
  margin-left: auto;
}
.step-form-module .step-pagination-module ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 5px;
}
.step-form-module .step-pagination-module ul li {
  margin: 0px;
  padding: 0px;
}
.step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button {
  background-color: white;
  pointer-events: none;
  opacity: 0.6;
}
.step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button.primary-colored-button:after {
  background-image: url(../Images/next-direction-primary-color-arrow.svg);
}
.step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button span {
  color: var(--site-primary) !important;
}
.step-form-module .step-pagination-module ul li:not(.not-pagi) {
  min-width: 40px;
  height: 40px;
  font-size: 16px;
  font-family: "HelveticaNeue-bold";
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: white;
  background-color: var(--site-primary);
}
.step-form-module .step-pagination-module ul li:not(.not-pagi).disabled {
  pointer-events: none;
  background-color: white;
  color: var(--site-primary);
  opacity: 0.6;
}
