:root{
    --site-primary: #2a5190;
    --site-primary-light: #e9f3f8;
    --site-primary-light-2: #8fa5c5;
    --site-light-bg-beige: #f8f4ea;
    --this-ext-global-font-size: 17px;
    --this-ext-global-font-size-less: 15px;
    --this-ext-global-font-size-medium: 22px;
    --site-success-color: #24ec64;
}

.new-modules-2024{

    .strip-card-content-box{
        padding: 30px;
        background-color: white;
        border-radius: 15px;
    }

    .page-button{
        border: 1px solid transparent;
        &.this-disable-button{
            background-color: transparent;
            border: 1px solid white;
            color: var(--site-primary);
            opacity: 0.6;
            pointer-events: none;

            &::after{
                background-image: url(../Images/next-direction-primary-color-arrow.svg);
            }

            span{
                color: var(--site-primary) !important;
            }
        }
        &.short-list-icon-btn{
            &::after{
                background-image: url(../Images/short-list-icon-white.png);
                width: 23px;
                background-size: 23px;
            }
        }
        &.cart-icon-btn{
            &::after{
                background-image: url(../Images/nav-cart-icon-white.svg);
                width: 20px;
                background-size: 20px;
            }
        }
        &.repeat-icon-btn{
            padding-left: 60px;
            padding-right: 33px;
            &::after{
                background-image: url(../Images/repeat-icon-primary.png);
                transform: none;
                background-size: 30px;
                width: 30px;
            }
        }
        &.primary-colored-button{
            &.primary-colored-light-btn{
                background-color: rgba($color: #ffffff, $alpha: 0.6);

                span{
                    color: var(--site-primary) !important;
                }
                
            }
        }
    }

    .euro-text{
        font-family: Arial, Helvetica, sans-serif;
    }

    strong{
        .euro-text{
            font-weight: bold;
        }
    }

    .step-form-table{
        .table-bottom-info{
            padding: 10px 0;
            border-top: 2px solid white;
            text-align: right;
            font-size: var(--this-ext-global-font-size-less);
            font-family: "HelveticaNeue-light";

            a{
                color: inherit;
                border-bottom: 1px solid;
            }
        }
        table{
            width: 100%;
            border: 0px;

            tbody{
                tr{
                    border-bottom: 10px solid var(--site-primary-light);

                    &.transparent-bg-td{
                        td{
                            background-color: transparent;
                        }
                    }

                    &:last-child{
                        border-bottom: none;
                    }

                    &.optional{
                        .optional-group-cell{
                            background-color: transparent;
                            padding: 0 0 0 30px;

                            @media screen and (max-width: 767px) {
                                padding-left: 20px !important;
                            }
                        }
                    }
                }
                td{
                    padding: 10px 12px;
                    background-color: rgba($color: #ffffff, $alpha: 0.6);
                    color: var(--site-primary);
                    font-size: var(--this-ext-global-font-size-less);
                    font-family: "HelveticaNeue-light";

                    @media screen and (max-width: 767px) {
                        display: block;

                        &:last-child{
                            text-align: left !important;
                        }
                        &:first-child{
                            padding-left: 12px !important;
                        }
                    }
                    
                    &:last-child{
                        text-align: right;
                    }
                    &:first-child{
                        padding-left: 30px;
                    }

                    strong{
                        font-family: "HelveticaNeue-bold";
                        font-size: var(--this-ext-global-font-size);

                        &.sm-text{
                            font-size: var(--this-ext-global-font-size-less);
                        }
                    }
                }
            }
        }
    }

    .new-module-sm-row{
        margin-left: -10px;
        margin-right: -10px;

        & > .my-col{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .step-form-iconin-input{
        position: relative;
        width: 230px;

        input{
            border: none;
            background-color: white;
            height: 40px;
            padding: 0 50px 0 10px;
            width: 100%;
            font-family: "HelveticaNeue-bold";
        }

        .the-icon{
            width: 40px;
            height: 40px;
            background-color: var(--site-light-bg-beige);
            text-align: center;
            line-height: 40px;
            font-family: "HelveticaNeue-bold";
            font-size: var(--this-ext-global-font-size);
            position: absolute;
            right: 0px;
            top: 0px;
        }
    }

    .step-form-system-listing-module{
        .the-listing{
            display: flex;
            background-color: white;
            padding: 10px 12px 10px 35px;
            border-radius: 15px;
            display: flex;
            column-gap: 25px;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        .system-number{
            font-family: "HelveticaNeue-bold";
            font-size: 18px;
        }

        .system-action{
            margin-left: auto;
        }

        .system-context{
            font-size: var(--this-ext-global-font-size-less);
            font-family: "HelveticaNeue-light";
            max-width: 78%;
            
            strong{
                font-family: "HelveticaNeue-bold";
                font-size: var(--this-ext-global-font-size);
            }
        }
    }

    .flex-grid-v-align-center{
        align-items: center;
    }

    hr{
        height: 2px;
        &.white-hr{
            background-color: white;
        }

        &.type-2{
            margin: 45px 0;
        }
    }

    .new-module-tick-list-item{
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;

            li{
                position: relative;
                margin: 30px 0 0 0;
                padding: 0 0 0 35px;
                background-image: url(../Images/big-tick.png);
                background-repeat: no-repeat;
                background-position: left top 3px;
                background-size: 24px;
                &:first-child{
                    margin-top: 0px;
                }
            }
        }
    }

    .ms-auto{
        margin-left: auto;
    }

    .row-flex{
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .this-site-bg-primary-light{
        background-color: var(--site-primary-light);
    }
    
    .this-module-header{
        padding-bottom: 15px;
        border-bottom: 2px solid white;

        &.no-border{
            padding-bottom: 0px;
            border: none;
        }
    }

    .this-pad-box-default{
        padding: 50px;
        @media screen and (max-width: 767px) {
            padding: 20px;
        }
    }

    .this-text-primary{
        color: var(--site-primary);

        p, li{
            color: var(--site-primary);
        }
    }


    .this-element-gap-tiny{
        margin-bottom: 15px;
    }

    .this-element-gap-small{
        margin-bottom: 25px;
    }

    .this-element-gap-small-plus{
        margin-bottom: 35px;
    }

    .this-element-gap-normal{
        margin-bottom: 55px;
    }

    .this-element-gap-large{
        margin-bottom: 100px;
    }

    .this-element-gap-extreme-large{
        margin-bottom: 175px;
    }
}

// step-form-module
.default-custom-select-menu-step-form{
    .ui-widget-content{
        background-color: white;

        .ui-menu-item{
            padding: 0px;

            .ui-menu-item-wrapper{
                padding: 10px 20px;
            }
        }
    }
}
.step-form-module{
    color: var(--site-primary);
    .site-form-module{
        .site-form-row{
            margin-top: 10px;
        }
        .site-form-field{
            border: none;

            &.select-field{
                .ui-selectmenu-text{
                    font-family: "HelveticaNeue-bold";
                }
                .ui-widget-content{
                    background-color: white;
                }
                .ui-selectmenu-button{
                    background-color: white;
                    padding: 12px 20px;
                    border: 1px solid transparent;
                }
                &::after{
                    background-color: white;
                }
            }
        }
    }
    .iconic-box-choice-module{
        display: flex;
        row-gap: 20px;
        text-align: center;
        flex-wrap: wrap;

        &.custom-grid-mini-box{
            column-gap: 20px;

            @media screen and (max-width: 1600px) {
                column-gap: 0px;
                margin-left: -10px;
                margin-right: -10px;
                .the-choice-box{
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 0px;
                    

                    & > .main-wrap{
                        border-radius: 15px;
                    }
                }

            }
            
            .the-choice-box{
                width: 18.4%;
                @media screen and (max-width: 1600px) {
                    width: 33.33%;
                }
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

        

        .the-choice-box{
            &.not-selectable{
                pointer-events: none;
                border: 1px solid white;

                & > .main-wrap{
                    background-color: transparent;
                    opacity: 0.6;
                }
            }
        }

        .multi-item-action-dasabled{

            

            
           
                .site-form-module{
                    pointer-events: none;
                    .site-form-field{
                        &.select-field{
                            .ui-selectmenu-text{
                                opacity: 0.6;
                            }
                            &:after{
                                background-color: transparent;
                                opacity: 0.6;
                            }
                            .ui-selectmenu-button{
                                background-color: transparent;
                                border-color: white;
                            }
                        }
                    }
                }
           
        }

        .multi-choice-box-holder{
            .the-choice-box{
                margin-top: 10px;
                &:first-child{
                    margin-top: 0px;
                }
            }
        }

        &.view-2{
            text-align: left;
            .the-title{
                font-family: "HelveticaNeue-light";

                strong{
                    font-family: "HelveticaNeue-bold";
                }
            }
            .choice-or-box{
                text-align: center;
                font-size: 24px;
                font-family: "HelveticaNeue-bold";
                line-height: 110px;
            }
            
            .the-choice-box{
                height: 110px;
                width: 100%;

                & > .main-wrap{
                    display: flex;
                    padding: 0 25px;
                    column-gap: 25px;
                }
            }

            &.narrow-view{
                
                .the-choice-box{
                    height: 40px;

                    & > .main-wrap{
                        padding: 0 15px;
                        column-gap: 0px;

                        .the-icon{
                            width: 45px;

                            img{
                                max-width: 35px;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

        .the-icon{
            img{
                height: 80px;
                width: auto;

                &.hovered{
                    display: none;
                }
            }
        }

        .the-title{
            font-size: var(--this-ext-global-font-size);
            font-family: "HelveticaNeue-bold";

            @media screen and (max-width: 767px) {
                font-size: 14px;
            }
        }

        .the-choice-box{
            width: 18.4%;
            border-radius: 15px;
            height: 110px;
            position: relative;
            overflow: hidden;

            .choice-selection-input{
                position: absolute;
                margin: 0px;
                padding: 0px;
                z-index: 1;
                cursor: pointer;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                opacity: 0;

                &:checked{
                    & + .main-wrap{
                        background-color: var(--site-primary);
                        color: white;

                        .the-icon{
                            img{
                                &.normal{
                                    display: none;
                                }
                                &.hovered{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }

            & > .main-wrap{
                display: grid;
                align-items: center;
                height: 100%;
                background-color: rgba($color: #ffffff, $alpha: 0.6);
            }
        }
    }

    .form-step-action-module{
        .step-action-info-text{
            font-size: var(--this-ext-global-font-size-medium);
            font-family: "HelveticaNeue-light";

            strong{
                font-family: "HelveticaNeue-bold";
            }
        }
        & > .main-wrap{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 20px;
        }
    }

    .form-step-ahead-module{
        margin-left: auto;
        @media screen and (max-width: 992px) {
            margin-left: inherit;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            .page-button{
                width: 100%;
            }
        }
        &.multi-item{
            display: flex;
            column-gap: 4px;
            row-gap: 10px;

            @media screen and (max-width: 767px) {
               flex-wrap: wrap;

               .step-form-iconin-input{
                width: 100%;
                & + .page-button{
                    width: 100%;
                }
               }
            }
        }
    }

    .step-pagination-module{
        @media screen and (max-width: 992px) {
            width: 100%;
        }
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
            display: flex;
            column-gap: 5px;
            row-gap: 10px;
            @media screen and (max-width: 767px) {
                flex-wrap: wrap;
            }

            li{
                margin: 0px;
                padding: 0px;

                &.not-pagi{
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                    &.disabled{

                        .page-button{
                            background-color: white;
                            pointer-events: none;
                            opacity: 0.6;

                            &.primary-colored-button{
                                &:after{
                                    background-image: url(../Images/next-direction-primary-color-arrow.svg);
                                }
                            }

                            span{
                                color: var(--site-primary) !important;
                            }
                        }
                        
                    }
                }
            }

            li:not(.not-pagi){
                min-width: 40px;
                height: 40px;
                font-size: var(--this-ext-global-font-size);
                font-family: "HelveticaNeue-bold";
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                color: white;
                background-color: var(--site-primary);

                &.disabled{
                    pointer-events: none;
                    background-color: white;
                    color: var(--site-primary);
                    opacity: 0.6;
                }
            }
        }
    }

    // selection-progress-bar
    .selection-progress-bar-module{
        .the-selection-progress-bar{
            position: relative;
            .the-bar{
                padding-right: 55px;
                height: 40px;
                display: flex;
                align-items: center;

                div{
                    width: 100%;
                    height: 10px;
                    background-color: rgba($color: #ffffff, $alpha: 0.6);
                    border-radius: 10px;
                    position: relative;

                    & + i{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        border-radius: 100%;
                        background-color: rgba($color: #ffffff, $alpha: 0.6);
                        transition: all 0.3s ease 0s;
                    }

                    &.passed{
                        span{
                            background-color: var(--site-success-color);
                        }

                        & + i{
                            background-color: var(--site-success-color);
                        }
                        
                    }

                    span{
                        position: absolute;
                        width: 0px;
                        height: 100%;
                        left: 0px;
                        top: 0px;
                        border-radius: 10px;
                        background-color: var(--site-primary);
                        display: block;
                        transition: all 0.3s ease 0s;
                        
                    }
                }
            }
        }
    }

}
// step-form-module