:root {
  --site-primary: #005192;
  --site-primary-v2: #0AA5D8;
  --site-primary-light: #e9f3f8;
  --site-primary-light-2: #8fa5c5;
  --site-light-bg-beige: #f8f4ea;
  --this-ext-global-font-size: 17px;
  --this-ext-global-font-size-less: 15px;
  --this-ext-global-font-size-medium: 22px;
  --this-ext-global-font-size-tiny: 13px;
  --this-ext-global-font-size-smallest: 11px;
  --site-success-color: #24ec64;
  --site-success-color-light: #84CC9B;
  --common-radius: 15px;
  --site-common-error-color: #CD3524;
}

.kemper-system #systemaufbauLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9652587456;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
}
.kemper-system .new-modules-2024 .pos-relative {
  position: relative;
}
.kemper-system .new-modules-2024 .img-text-inline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}
.kemper-system .new-modules-2024 .img-text-inline-block span {
  position: relative;
  top: 3px;
}
.kemper-system .new-modules-2024 .new-module-normal-table table {
  border: none;
  width: 100%;
}
.kemper-system .new-modules-2024 .new-module-normal-table table th,
.kemper-system .new-modules-2024 .new-module-normal-table table td {
  padding: 5px;
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .kemper-system .new-modules-2024 .new-module-normal-table table th,
  .kemper-system .new-modules-2024 .new-module-normal-table table td {
    min-width: 305px;
  }
}
.kemper-system .new-modules-2024 .new-module-normal-table table th:first-child,
.kemper-system .new-modules-2024 .new-module-normal-table table td:first-child {
  padding-left: 0px;
}
.kemper-system .new-modules-2024 .no-hidden-overflow {
  overflow: inherit !important;
}
.kemper-system .new-modules-2024 .no-radius {
  border-radius: 0px !important;
}
.kemper-system .new-modules-2024 .common-radius {
  border-radius: var(--common-radius);
}
.kemper-system .new-modules-2024 .dropdown-tooltip-type-1 {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -11.33px;
}
.kemper-system .new-modules-2024 .dropdown-tooltip-type-1.pos-type-2 {
  right: 0px;
}
@media screen and (max-width: 767px) {
  .kemper-system .new-modules-2024 .dropdown-tooltip-type-1.pos-type-2 {
    margin-top: -20px;
  }
}
.kemper-system .new-modules-2024 .dropdown-tooltip-type-1 .dropdown-menu {
  padding: 14px 20px;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: white;
  min-width: 270px;
  left: inherit;
  right: -12px;
  margin-top: 0px;
}
.kemper-system .new-modules-2024 .dropdown-tooltip-type-1 .dropdown-menu p {
  font-size: 13px;
  line-height: 18px;
}
.kemper-system .new-modules-2024 .dropdown-tooltip-type-1 .btn {
  border: none;
  background-color: transparent !important;
  border-radius: 0px;
  width: 20.66px;
  height: 20.66px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20.66px;
  cursor: pointer;
  background-image: url(../Images/new-tooltip-primary.svg);
  padding: 0px;
  margin: 0px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.kemper-system .new-modules-2024 .strip-card-content-box {
  padding: 30px;
  background-color: white;
  border-radius: 15px;
}
.kemper-system .new-modules-2024 .page-button {
  border: 1px solid transparent;
}
.kemper-system .new-modules-2024 .page-button.this-disable-button {
  background-color: transparent;
  border: 1px solid white;
  color: var(--site-primary);
  opacity: 0.6;
  pointer-events: none;
}
.kemper-system .new-modules-2024 .page-button.this-disable-button::after {
  background-image: url(../Images/next-direction-primary-color-arrow.svg);
}
.kemper-system .new-modules-2024 .page-button.this-disable-button span {
  color: var(--site-primary) !important;
}
.kemper-system .new-modules-2024 .page-button.short-list-icon-btn::after {
  background-image: url(../Images/new-short-list-icon-primary.svg);
  width: 20px;
  background-size: 20px;
}
.kemper-system .new-modules-2024 .page-button.cart-icon-btn::after {
  background-image: url(../Images/nav-cart-icon-white.svg);
  width: 20px;
  background-size: 20px;
}
.kemper-system .new-modules-2024 .page-button.repeat-icon-btn {
  padding-left: 60px;
  padding-right: 33px;
}
.kemper-system .new-modules-2024 .page-button.repeat-icon-btn::after {
  background-image: url(../Images/new-start-icon-primary.svg);
  -webkit-transform: none;
          transform: none;
  background-size: 28px;
  width: 28px;
}
.kemper-system .new-modules-2024 .page-button.primary-colored-button.primary-colored-light-btn {
  background-color: rgba(255, 255, 255, 0.6);
}
.kemper-system .new-modules-2024 .page-button.primary-colored-button.primary-colored-light-btn span {
  color: var(--site-primary) !important;
}
.kemper-system .new-modules-2024 .euro-text {
  font-family: Arial, Helvetica, sans-serif;
}
.kemper-system .new-modules-2024 strong .euro-text {
  font-weight: bold;
}
.kemper-system .new-modules-2024 .step-form-table .table-bottom-info {
  padding: 10px 0;
  border-top: 2px solid white;
  text-align: right;
  font-size: var(--this-ext-global-font-size-less);
  font-family: "HelveticaNeue-light";
}
.kemper-system .new-modules-2024 .step-form-table .table-bottom-info a {
  color: inherit;
  border-bottom: 1px solid;
}
.kemper-system .new-modules-2024 .step-form-table table {
  width: 100%;
  border: 0px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody tr {
  border-bottom: 10px solid var(--site-primary-light);
}
.kemper-system .new-modules-2024 .step-form-table table tbody tr.transparent-bg-td td {
  background-color: transparent;
}
.kemper-system .new-modules-2024 .step-form-table table tbody tr:last-child {
  border-bottom: none;
}
.kemper-system .new-modules-2024 .step-form-table table tbody tr.optional .optional-group-cell {
  background-color: transparent;
  padding: 0 0 0 30px;
}
@media screen and (max-width: 992px) {
  .kemper-system .new-modules-2024 .step-form-table table tbody tr.optional .optional-group-cell {
    padding-left: 20px !important;
  }
}
.kemper-system .new-modules-2024 .step-form-table table tbody td {
  padding: 10px 12px;
  background-color: white;
  color: var(--site-primary);
  font-size: var(--this-ext-global-font-size-less);
  font-family: "HelveticaNeue-light";
  vertical-align: bottom;
  min-width: 145px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action {
  padding: 0px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap {
  padding: 10px 12px 10px 85px;
  position: relative;
}
@media screen and (max-width: 992px) {
  .kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap {
    padding-left: 0px;
    padding-top: 70px;
  }
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap .trigger {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 55px;
  height: calc(100% + 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--site-primary-light);
}
@media screen and (max-width: 992px) {
  .kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap .trigger {
    left: -12px;
    top: 0px;
    width: 55px;
    height: 55px;
  }
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap .trigger i {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left top;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action .main-wrap .trigger i.delete {
  width: 18px;
  height: 20px;
  background-image: url(../Images/new-delete-icon-primary.svg);
  background-size: 18px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td.has-row-action:first-child {
  padding-left: 0px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td .site-form-module .site-form-field {
  height: auto;
  border-bottom: 1px solid var(--site-primary);
}
.kemper-system .new-modules-2024 .step-form-table table tbody td .site-form-module .site-form-field.select-field:after {
  width: 17px;
  background-size: 17px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td .site-form-module .site-form-field.select-field .ui-selectmenu-button {
  background-color: transparent;
  border: none;
  padding: 1px 0;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td i {
  font-size: var(--this-ext-global-font-size-smallest);
  color: var(--site-primary-v2);
  font-style: normal;
  line-height: 15px;
  display: block;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td i a {
  color: inherit;
  text-decoration: underline;
}
@media screen and (max-width: 992px) {
  .kemper-system .new-modules-2024 .step-form-table table tbody td {
    display: block;
  }
  .kemper-system .new-modules-2024 .step-form-table table tbody td:last-child {
    text-align: left !important;
  }
  .kemper-system .new-modules-2024 .step-form-table table tbody td:first-child {
    padding-left: 12px !important;
  }
}
.kemper-system .new-modules-2024 .step-form-table table tbody td:last-child {
  text-align: right;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td:first-child {
  padding-left: 30px;
}
.kemper-system .new-modules-2024 .step-form-table table tbody td strong {
  font-family: "HelveticaNeue-bold";
  font-size: var(--this-ext-global-font-size);
}
.kemper-system .new-modules-2024 .step-form-table table tbody td strong.sm-text {
  font-size: var(--this-ext-global-font-size-less);
}
.kemper-system .new-modules-2024 .new-module-sm-row {
  margin-left: -10px;
  margin-right: -10px;
}
.kemper-system .new-modules-2024 .new-module-sm-row > .my-col {
  padding-left: 10px;
  padding-right: 10px;
}
.kemper-system .new-modules-2024 .step-form-iconin-input {
  position: relative;
  width: 230px;
}
.kemper-system .new-modules-2024 .step-form-iconin-input input {
  border: none;
  background-color: white;
  height: 40px;
  padding: 0 50px 0 10px;
  width: 100%;
  font-family: "HelveticaNeue-bold";
}
.kemper-system .new-modules-2024 .step-form-iconin-input .the-icon {
  width: 40px;
  height: 40px;
  background-color: var(--site-light-bg-beige);
  text-align: center;
  line-height: 40px;
  font-family: "HelveticaNeue-bold";
  font-size: var(--this-ext-global-font-size);
  position: absolute;
  right: 0px;
  top: 0px;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .the-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px 12px 10px 35px;
  border-radius: 15px;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-number {
  font-family: "HelveticaNeue-bold";
  font-size: 18px;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-action {
  margin-left: auto;
  position: relative;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-context {
  font-size: var(--this-ext-global-font-size-less);
  font-family: "HelveticaNeue-light";
  max-width: 78%;
  line-height: 21px;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-context strong {
  font-family: "HelveticaNeue-bold";
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-context i {
  font-size: var(--this-ext-global-font-size-smallest);
  color: var(--site-primary-v2);
  font-style: normal;
  line-height: 15px;
  display: block;
}
.kemper-system .new-modules-2024 .step-form-system-listing-module .system-context i a {
  color: inherit;
  text-decoration: underline;
}
.kemper-system .new-modules-2024 .flex-grid-v-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kemper-system .new-modules-2024 hr {
  height: 2px;
}
.kemper-system .new-modules-2024 hr.white-hr {
  background-color: white;
}
.kemper-system .new-modules-2024 hr.type-1 {
  margin: 35px 0;
}
.kemper-system .new-modules-2024 hr.type-2 {
  margin: 45px 0;
}
.kemper-system .new-modules-2024 .new-module-tick-list-item ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.kemper-system .new-modules-2024 .new-module-tick-list-item ul li {
  position: relative;
  margin: 30px 0 0 0;
  padding: 0 0 0 35px;
  background-image: url(../Images/big-tick.png);
  background-repeat: no-repeat;
  background-position: left top 3px;
  background-size: 24px;
}
.kemper-system .new-modules-2024 .new-module-tick-list-item ul li:first-child {
  margin-top: 0px;
}
.kemper-system .new-modules-2024 .ms-auto {
  margin-left: auto;
}
.kemper-system .new-modules-2024 .row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.kemper-system .new-modules-2024 .this-site-bg-primary-light {
  background-color: var(--site-primary-light);
}
.kemper-system .new-modules-2024 .this-module-header {
  padding-bottom: 15px;
  border-bottom: 2px solid white;
}
.kemper-system .new-modules-2024 .this-module-header.no-border {
  padding-bottom: 0px;
  border: none;
}
.kemper-system .new-modules-2024 .this-pad-box-default {
  padding: 50px;
}
@media screen and (max-width: 767px) {
  .kemper-system .new-modules-2024 .this-pad-box-default {
    padding: 20px;
  }
}
.kemper-system .new-modules-2024 .this-text-primary {
  color: var(--site-primary);
}
.kemper-system .new-modules-2024 .this-text-primary p,
.kemper-system .new-modules-2024 .this-text-primary li {
  color: var(--site-primary);
}
.kemper-system .new-modules-2024 .this-element-gap-tiny {
  margin-bottom: 15px;
}
.kemper-system .new-modules-2024 .this-element-gap-small {
  margin-bottom: 25px;
}
.kemper-system .new-modules-2024 .this-element-gap-small-plus {
  margin-bottom: 35px;
}
.kemper-system .new-modules-2024 .this-element-gap-normal {
  margin-bottom: 55px;
}
.kemper-system .new-modules-2024 .this-element-gap-large {
  margin-bottom: 100px;
}
.kemper-system .new-modules-2024 .this-element-gap-extreme-large {
  margin-bottom: 175px;
}
.kemper-system .default-custom-select-menu-step-form .ui-widget-content {
  background-color: white;
}
.kemper-system .default-custom-select-menu-step-form .ui-widget-content .ui-menu-item {
  padding: 0px;
}
.kemper-system .default-custom-select-menu-step-form .ui-widget-content .ui-menu-item .ui-menu-item-wrapper {
  padding: 10px 20px;
}
.kemper-system .step-form-module {
  color: var(--site-primary);
}
.kemper-system .step-form-module .site-form-module .site-form-row {
  margin-top: 10px;
}
.kemper-system .step-form-module .site-form-module .site-form-field {
  border: none;
}
.kemper-system .step-form-module .site-form-module .site-form-field.select-field .ui-selectmenu-text {
  font-family: "HelveticaNeue-bold";
}
.kemper-system .step-form-module .site-form-module .site-form-field.select-field .ui-widget-content {
  background-color: white;
}
.kemper-system .step-form-module .site-form-module .site-form-field.select-field .ui-selectmenu-button {
  background-color: white;
  padding: 12px 20px;
  border: 1px solid transparent;
}
.kemper-system .step-form-module .site-form-module .site-form-field.select-field::after {
  background-color: white;
}
.kemper-system .step-form-module .iconic-box-choice-module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 20px;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box {
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
@media screen and (max-width: 1600px) {
  .kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box {
    -webkit-column-gap: 0px;
            column-gap: 0px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box .the-choice-box {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
  }
  .kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box .the-choice-box > .main-wrap {
    border-radius: 15px;
  }
}
.kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box .the-choice-box {
  width: 18.4%;
}
@media screen and (max-width: 1600px) {
  .kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box .the-choice-box {
    width: 33.33%;
  }
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .iconic-box-choice-module.custom-grid-mini-box .the-choice-box {
    width: 100%;
  }
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable {
  pointer-events: none;
  border: 1px solid white;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable .dropdown-tooltip-type-1 {
  opacity: 0.3;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable > .main-wrap {
  background-color: transparent;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable > .main-wrap > div {
  opacity: 0.3;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable.has-inner-radius {
  border: none;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box.not-selectable.has-inner-radius > .main-wrap {
  border: 1px solid white;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module {
  pointer-events: none;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field .ui-selectmenu-text {
  opacity: 0.3;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field:after {
  background-color: transparent;
  opacity: 0.3;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-item-action-dasabled .site-form-module .site-form-field.select-field .ui-selectmenu-button {
  background-color: transparent;
  border-color: white;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-choice-box-holder .the-choice-box {
  margin-top: 10px;
}
.kemper-system .step-form-module .iconic-box-choice-module .multi-choice-box-holder .the-choice-box:first-child {
  margin-top: 0px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 {
  text-align: left;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 .the-title {
  font-family: "HelveticaNeue-light";
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 .the-title strong {
  font-family: "HelveticaNeue-bold";
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 .choice-or-box {
  text-align: center;
  font-size: 24px;
  font-family: "HelveticaNeue-bold";
  line-height: 110px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 .the-choice-box {
  height: 110px;
  width: 100%;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2 .the-choice-box > .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box {
  height: 40px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap {
  padding: 0 40px 0 15px;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap .the-icon {
  width: 45px;
}
.kemper-system .step-form-module .iconic-box-choice-module.view-2.narrow-view .the-choice-box > .main-wrap .the-icon img {
  max-width: 35px;
  height: auto;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-icon img {
  height: 80px;
  width: auto;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-icon img.hovered {
  display: none;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-title {
  font-size: var(--this-ext-global-font-size);
  font-family: "HelveticaNeue-bold";
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .iconic-box-choice-module .the-title {
    font-size: 14px;
  }
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box {
  width: 18.4%;
  border-radius: 15px;
  height: 110px;
  position: relative;
  overflow: hidden;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input {
  position: absolute;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap {
  background-color: var(--site-primary);
  color: white;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap + .dropdown-tooltip-type-1 .btn {
  background-image: url(../Images/new-tooltip-white.svg);
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap .the-icon img.normal {
  display: none;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box .choice-selection-input:checked + .main-wrap .the-icon img.hovered {
  display: inline-block;
}
.kemper-system .step-form-module .iconic-box-choice-module .the-choice-box > .main-wrap {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.kemper-system .step-form-module .form-step-action-module .step-action-info-text {
  font-size: var(--this-ext-global-font-size-medium);
  font-family: "HelveticaNeue-light";
}
@media screen and (max-width: 1199px) {
  .kemper-system .step-form-module .form-step-action-module .step-action-info-text {
    width: 100%;
  }
}
.kemper-system .step-form-module .form-step-action-module .step-action-info-text strong {
  font-family: "HelveticaNeue-bold";
}
.kemper-system .step-form-module .form-step-action-module > .main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.kemper-system .step-form-module .form-step-ahead-module {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .kemper-system .step-form-module .form-step-ahead-module {
    margin-left: inherit;
  }
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .form-step-ahead-module {
    width: 100%;
  }
  .kemper-system .step-form-module .form-step-ahead-module .page-button {
    width: 100%;
  }
}
.kemper-system .step-form-module .form-step-ahead-module.multi-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  row-gap: 10px;
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .form-step-ahead-module.multi-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .kemper-system .step-form-module .form-step-ahead-module.multi-item .step-form-iconin-input {
    width: 100%;
  }
  .kemper-system .step-form-module .form-step-ahead-module.multi-item .step-form-iconin-input + .page-button {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .kemper-system .step-form-module .step-pagination-module {
    width: 100%;
  }
}
.kemper-system .step-form-module .step-pagination-module ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  row-gap: 10px;
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .step-pagination-module ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.kemper-system .step-form-module .step-pagination-module ul li {
  margin: 0px;
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .kemper-system .step-form-module .step-pagination-module ul li.not-pagi {
    width: 100%;
  }
}
.kemper-system .step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button {
  background-color: white;
  pointer-events: none;
  opacity: 0.6;
}
.kemper-system .step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button.primary-colored-button:after {
  background-image: url(../Images/next-direction-primary-color-arrow.svg);
}
.kemper-system .step-form-module .step-pagination-module ul li.not-pagi.disabled .page-button span {
  color: var(--site-primary) !important;
}
.kemper-system .step-form-module .step-pagination-module ul li:not(.not-pagi) {
  min-width: 40px;
  height: 40px;
  font-size: var(--this-ext-global-font-size);
  font-family: "HelveticaNeue-bold";
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: white;
  background-color: var(--site-primary);
}
.kemper-system .step-form-module .step-pagination-module ul li:not(.not-pagi).disabled {
  pointer-events: none;
  background-color: white;
  color: var(--site-primary);
  opacity: 0.6;
}
.kemper-system .step-form-module .selection-progress-bar-module .progrss-status-text {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.kemper-system .step-form-module .selection-progress-bar-module .progrss-status-text * {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.kemper-system .step-form-module .selection-progress-bar-module.passed .progrss-status-text * {
  color: var(--site-success-color-light);
}
.kemper-system .step-form-module .selection-progress-bar-module.passed .the-bar div span {
  background-color: var(--site-success-color-light) !important;
}
.kemper-system .step-form-module .selection-progress-bar-module.passed .the-bar div + i {
  background-color: var(--site-success-color-light) !important;
}
.kemper-system .step-form-module .selection-progress-bar-module .the-selection-progress-bar {
  position: relative;
}
.kemper-system .step-form-module .selection-progress-bar-module .the-selection-progress-bar .the-bar {
  padding-right: 55px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.kemper-system .step-form-module .selection-progress-bar-module .the-selection-progress-bar .the-bar div {
  width: 100%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  position: relative;
}
.kemper-system .step-form-module .selection-progress-bar-module .the-selection-progress-bar .the-bar div + i {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-image: url(../Images/new-tick-light.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.kemper-system .step-form-module .selection-progress-bar-module .the-selection-progress-bar .the-bar div span {
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  background-color: var(--site-primary);
  display: block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
