<div class="dp--cookie-check">
    <label for="dp--cookie-required">
        <input class="dp--check-box" id="dp--cookie-required" type="checkbox" name="" value="" checked disabled>
        <f:translate key="dpRequire" extensionName="dp_cookieconsent"/>
    </label>
    <label for="dp--cookie-statistics">
        <input class="dp--check-box" id="dp--cookie-statistics" type="checkbox" name="" value="">
        <f:translate key="dpStatistik" extensionName="dp_cookieconsent"/>
    </label>
    <label for="dp--cookie-marketing">
        <input class="dp--check-box" id="dp--cookie-marketing"  type="checkbox" name="" value="">
        <f:if condition="{data.sys_language_uid}">
          <f:then>External Content</f:then>
          <f:else>Externe Inhalte</f:else>
      </f:if>
    </label>
</div>
